resource "aws_db_instance" "default" {
  allocated_storage    = 20
  engine               = "postgres"
  instance_class       = "db.t3.micro"
  name                 = "appdb"
  username             = "admin"
  password             = "infrabuddy123"
  skip_final_snapshot  = true
}
